.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(26, 24, 24, 0.8);
}

.login { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login::after {
    content: '';
    background: url('../../assets/img/wallpaper.png');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.login-title {
    cursor: pointer;
    color: rgb(255, 207, 213, 0.7);
    margin-bottom: 30px;
}

.login-title::after {
    content: '';
    background-color: #5151b7;
    border: 2px solid transparent;
    margin-left: 7px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 15px;
    height: 25px;
    text-indent: 5px;
    outline: none;
}

.form-label {
    color: rgb(255, 207, 213, 0.7);
    margin-bottom: 5px;
}

.form-btn {
    background-color: #5151b7;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 10px;
}

.form-btn-error {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 0 11px 6px;
}

.form-title-error {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}